<<?xml version="1.0" ?>

<model>

<name>skitbot Robot</name>

<version>1.0</version>

<sdf version="1.7">model.sdf</sdf>

<author>

<name>Automatic Addison</name>

<email>Automaticaddison@todo.todo</email>

</author>

<description>

A basic differential drive mobile warehouse robot.

</description>

</model>
